{% extends 'layout/basic.html' %}

{% block content %}
<h1 class="task-title">Список задач</h1>

<div class="add-task-button">
    <a href="{% url 'task_create' %}" class="btn btn-primary">Добавить задачу</a>
</div>

<ul class="task-list">
    {% for task in tasks %}
        <li class="task-item">
            <div class="task-info" style="color: grey;">
                <strong>{{ task.title }}</strong>
            </div>
            <div class="task-complexity">
                {% if task.complexity == "easy" %}
                    <span style="color: green;">Легкий</span>
                {% elif task.complexity == "medium" %}
                    <span style="color: orange;">Средний</span>
                {% elif task.complexity == "hard" %}
                    <span style="color: red;">Сложный</span>
                {% else %}
                    <span style="color: grey;">Неизвестная сложность</span>
                {% endif %}
            </div>
            <span class="task-status">({{ task.status }})</span>
            <div class="task-actions">
                <a href="{% url 'task_detail' task.id %}" class="btn btn-link">Подробнее</a>
                 {% if task.status == 'Новая' %}
                    <form action="{% url 'task_accept' task.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Принять</button>
                    </form>
                <a href="{% url 'task_update' task.id %}" class="btn btn-success">Обновить</a>
                {% elif task.status == 'В процессе' %}
                    <form action="{% url 'task_complete' task.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" style="background-color: orange;">Завершить</button>
                    </form>
                <a href="{% url 'task_update' task.id %}" class="btn btn-success">Обновить</a>
                {% endif %}

                {% if task.status != 'Новая' %}
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li class="no-tasks">Задачи не найдены.</li>
    {% endfor %}
</ul>



<style>
    .task-title {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .add-task-button {
        text-align: center;
        margin-bottom: 20px;
    }

    .btn {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-link {
        color: #007bff;
        margin-right: 10px;
    }

    .btn-success {
        background-color: #0d6efd;
        color: white;
        margin-right: 10px;
    }

    .btn-success:hover {
        background-color: #4a545c;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .task-list {
        list-style-type: none;
        padding: 0;
        max-width: 1300px;
        margin: 0 auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .task-item {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .task-info {
        flex-grow: 1; /* Позволяет элементу занимать доступное пространство */
        min-width: 0; /* Предотвращает переполнение */
        overflow: hidden; /* Скрывает переполнение */
        text-overflow: ellipsis; /* Добавляет многоточие для длинного текста */
        white-space: nowrap; /* Запрещает перенос строк */
    }

    .task-status {
        color: #666;
        margin-left: 10px;
    }

    .task-actions {
        display: flex;
        align-items: center;
    }

    .no-tasks {
        padding: 15px;
        text-align: center;
        color: #999;
    }

    .btn-info {
        color: black;
       --bs-btn-bg: #0df07c;
    }
</style>
{% endblock %}