{% extends 'layout/basic.html' %}

{% block content %}

<h1>Список задач</h1>

<a href="{% url 'task_create' %}">Добавить задачу</a>



<ul>
    {% for task in tasking %}
        <li>
            {{task.title}} ({{ task.status }})
            <a href="{% url 'task_detail' task.id %}">Подробнее</a>
            <a href="{% url 'task_update' task.id %}">Обновить</a>
            <a href="{% url 'task_delete' task.id %}">Удалить</a>
        </li>
    {% empty %}
        <p>Задачи не найдены.</p>
    {% endfor %}
</ul>
{% endblock %}