{% extends 'layout/basic.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}
<h2>Информация о сайте</h2>
<p>Сайт &laquo;LINA&raquo;, представляет собой мощный инструмент для управления знаниями и продуктивности, сочетая традиционные возможности заметок с современными технологиями искусственного интеллекта. Он позволяет пользователям эффективно организовывать свои мысли, планировать задачи и находить нужную информацию, что может значительно повысить их производительность и креативность.</p>
<p>Все права принадлежат разработчику сайта "KiraKorst". &laquo;Django 4&raquo;.</p>
{% endblock %}