{% extends 'layout/basic.html' %}

{% block title %}Контакты - {% endblock %}

{% block content %}
<h2>Обратная связь</h2>
<p>Уважаемые посетители,</p>
<p>Вы можете связаться с нами несколькими способами:</p>
<p>1. По электронной почте - отправьте ваш запрос на адрес - support.lina@yandex.ru.</p>
<p>2. По номеру телефона горячей линии - звоните по номеру - 89879348420.</p>
<p>
    Наша команда поддержки всегда готова помочь вам и ответить на ваши вопросы.
    Мы стремимся предоставлять высококачественный сервис и решать все проблемы как можно быстрее.
</p>

<p>
    Не забудьте при обращении подробно расписать суть возникшего инцедента и время его возникновения.
    Это поможет нам лучше понять вашу проблему и найти наиболее эффективное решение.
</p>
<h3>Спасибо за ваше доверие и ожидание, что мы сможем помочь вам!</h3>
<p>С уважением, администрация сайта - LINA</p>
{% endblock %}