{% extends 'layout/basic.html' %}

{% block title %}Информация и обновления {% endblock %}

{% block content %}
<div class="updates-container">
    <h2 class="updates-title">Актуальные обновления и новости сайта</h2>
    <p class="updates-intro" style="border-top: 1px solid #ddd ">Уважаемые посетители,</p>

    <p class="updates-message">
        Мы хотим сообщить вам, что на данный момент на нашем сайте нет новых обновлений или новостей.
        Это связано с тем, что мы активно работаем над улучшением и расширением нашего ресурса.
    </p>

    <p class="updates-efforts">
        Наша команда постоянно стремится предоставлять вам самую актуальную и полезную информацию.
        В настоящее время мы уделяем особое внимание техническому обновлению сайта и подготовке новых контентных материалов.
    </p>

    <h3 class="updates-thank-you" style="border-top: 1px solid #ddd ">Спасибо за ваше понимание</h3>
    <p class="updates-signature">С уважением, команда сайта - LINA</p>
</div>

<style>
    .updates-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f4f8;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .updates-title {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
        text-align: center;
    }

    .updates-intro, .updates-message, .updates-efforts, .updates-signature {
        color: #555;
        line-height: 1.6;
        margin-bottom: 15px;
        text-align: justify;
    }

    .updates-thank-you {
        color: #007BFF;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
</style>
{% endblock %}